<div class="date-range">
    <form [formGroup]="form" novalidate autocomplete="off">
        <div class="date-range__items">
            <app-date formControlName="from" (changed)="onChanged()" [max]="max" (closed)="onClose()" [placeholder]="placeholder?.from ?? 'Desde'">
            </app-date>

            <span class="date-range__dash">&mdash;</span>

            <app-date formControlName="to" (changed)="onChanged()" [min]="min" (closed)="onClose()" [placeholder]="placeholder?.to ?? 'Hasta'">
            </app-date>
        </div>
    </form>
</div>