$base:#fafafa;
$base-dark:#e0e0e0;
$base-light:#ffffff;
$on-base:#000000;
$primary:#0288d1;
$primary-dark:#005b9f;
$primary-light:#5eb8ff;
$on-primary:#fff;
$secondary:#0d47a1;
$secondary-dark:#002171;
$secondary-light:#5472d3;
$on-secondary:#fff;
$error:#f44336;
$on-error:#fff;
$success:#4caf50;
$on-success:#fff;