<div class="app-page">
  <div class="app-page__header">
      <h1>Login</h1>
  </div>

  <form [formGroup]="form" (submit)="onSubmit()" (keyup.enter)="onSubmit()" novalidate autocomplete="off">
      <div class="app-page__content">
          <app-form-field label="Email" [required]="true" [isInline]="false" [patternError]="regexErrors.email" [control]="form.controls['email']">
              <app-input formControlName="email"></app-input>
          </app-form-field>

          <app-form-field label="Password" [required]="true" [isInline]="false" [patternError]="regexErrors.password" [control]="form.controls['password']">
              <app-password formControlName="password"></app-password>
          </app-form-field>

      </div>
      <div class="app-page__footer">
          <app-button type="submit">Login</app-button>
      </div>
  </form>

  <app-spinner *ngIf="loading$ | async"></app-spinner>
</div>
